
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;       
    background-color: darkslategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.formulario {
    background-color: #2c3e50;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;      
    width: 350px;
}

input, select, button {
    width: 100%;            
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;  
    font-size: 16px;
}

button:hover {
    background-color:  rgb(113, 151, 151);
}


.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #34495e;
    border-radius: 5px;
    word-wrap: break-word;   
}