

.booking-section {
    position: relative;
    background: radial-gradient(circle at right, rgba(170, 144, 93, 0.425) 0%, #3c3224  100%);
    background-attachment: fixed;
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
}
.booking-card {
    max-width: 600px;
}

.btn-outline{ 
  margin-top: 10px;
    display: flex;
justify-self: center;
}

.campo select,
.campo input[type="date"],
.campo input[type="time"] {
    width: 100%;
    padding: 14px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease;
    background-color: #fafafa;
    color: #333;
    appearance: none; 
}


.campo select {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 12px auto;
}

.campo select:focus,
.campo input[type="date"]:focus {
    outline: none;
    border-color: var(--gold);
    background-color: white;
    box-shadow: 0 0 0 3px rgba(199, 148, 25, 0.15);
}


.campo select option[value=""][disabled] {
    color: #999;
}

