
.signup-section {
    position: relative;
    background: radial-gradient(circle at right, rgba(172, 112, 7, 0.425) 0%, #f8f7f7  100%);
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}


.signup-card {
    max-width: 650px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px; 
}


.input-group {
    grid-column: span 2;
}

.full-width-btn {
    width: 100%;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .full-width {
        grid-column: span 1;
    }
}